<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container d-flex flex-row justify-content-between">
    <a
      class="navbar-brand"
      href="/"
      aria-label="Artichoke Ruby"
      onclick="ga('send', 'event', 'Navbar', 'Brand Icon');"
    >
      <img
        class="float-start"
        width="40"
        height="40"
        title="Artichoke Ruby"
        alt="Artichoke Ruby logo"
        src="~@artichokeruby/logo/optimized/artichoke-logo.svg"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            href="/"
            onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Home');"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/install/"
            onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Install');"
          >
            Install
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://artichoke.run"
            onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Playground');"
          >
            Playground
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://discord.gg/QCe2tp2"
            onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Chat');"
          >
            Chat
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://github.com/artichoke/artichoke"
            onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Code');"
          >
            Code
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Docs
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/artichoke/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'artichoke');"
              >
                artichoke
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/artichoke_core/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'artichoke-core');"
              >
                artichoke-core
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/artichoke_backend/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'artichoke-backend');"
              >
                artichoke-backend
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/spinoso_array/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'spinoso-array');"
              >
                spionso-array
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/spinoso_env/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'spinoso-env');"
              >
                spionso-env
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/spinoso_exception/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'spinoso-exception');"
              >
                spionso-exception
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/spinoso_math/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'spinoso-math');"
              >
                spionso-math
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/spinoso_random/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'spinoso-random');"
              >
                spionso-random
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/spinoso_regexp/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'spinoso-regexp');"
              >
                spionso-regexp
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/spinoso_securerandom/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'spinoso-securerandom');"
              >
                spionso-securerandom
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/spinoso_string/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'spinoso-string');"
              >
                spionso-string
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/spinoso_symbol/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'spinoso-symbol');"
              >
                spionso-symbol
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://artichoke.github.io/artichoke/spinoso_time/"
                onclick="ga('send', 'event', 'Navbar', 'Nav Link', 'Docs', 'spinoso-time');"
              >
                spionso-time
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
