<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <div class="w-100">
      <a class="py-2 d-block my-auto" href="/" aria-label="Artichoke Ruby">
        <img
          class="float-left"
          width="24"
          height="24"
          title="Artichoke Ruby"
          alt="Artichoke Ruby logo"
          src="artichoke-logo.svg"
        />
        Artichoke
      </a>
    </div>
    <div class="container d-flex flex-column flex-md-row justify-content-end">
      <a class="px-3 py-2 d-none d-md-inline-block" href="/install">Install</a>
      <a class="px-3 py-2 d-none d-md-inline-block" href="https://artichoke.run"
        >Playground</a
      >
      <a
        class="px-3 py-2 d-none d-md-inline-block"
        href="https://discord.gg/QCe2tp2"
        >Chat</a
      >
      <a
        class="px-3 py-2 d-none d-md-inline-block"
        href="https://github.com/artichoke/artichoke"
      ></a>
    </div>
  </div>
</nav>
