<!DOCTYPE html>
<html lang="<%= it.language %>" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <title><%= it.t.index.head.title %></title>

    <meta name="description" content="<%= it.t.index.head.description %>" />

    <link rel="dns-prefetch" href="//www.googletagmanager.com" />
    <link rel="dns-prefetch" href="//platform.twitter.com" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://platform.twitter.com" />

    <link rel="preload" href="/main.bundle.css" as="style" />
    <link rel="preload" href="/artichoke-logo.svg" as="image" />
    <link
      rel="preload"
      href="https://platform.twitter.com/widgets.js"
      as="script"
    />

    <!-- Favicons -->
    <%~ includeFile("partials/favicons.html") %>

    <link
      rel="canonical"
      href="https://www.artichokeruby.org<%= it.locale.links.home %>"
    />
    <% for (const [lang, locale] of Object.entries(it.locales)) { %>
    <link
      rel="alternate"
      href="https://www.artichokeruby.org<%= locale.links.home %>"
      hreflang="<%= lang %>"
    />
    <% } %>
    <link
      rel="alternate"
      href="https://www.artichokeruby.org<%= it.defaultLocale.links.home %>"
      hreflang="x-default"
    />

    <link rel="stylesheet" href="/main.bundle.css" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@artichokeruby" />
    <meta name="twitter:creator" content="@artichokeruby" />
    <meta name="twitter:title" content="<%= it.t.index.head.title %>" />
    <meta
      name="twitter:description"
      content="<%= it.t.index.head.description %>"
    />
    <meta
      name="twitter:image"
      content="https://www.artichokeruby.org/artichoke-social-logo.png"
    />

    <!-- Facebook Open Graph metadata -->
    <meta
      property="og:url"
      content="https://www.artichokeruby.org<%= it.locale.links.home %>"
    />
    <meta property="og:site_name" content="artichokeruby.org" />
    <meta property="og:title" content="<%= it.t.index.head.title %>" />
    <meta
      property="og:description"
      content="<%= it.t.index.head.description %>"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://www.artichokeruby.org/artichoke-social-logo.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1600" />
    <meta property="og:image:height" content="800" />

    <%~ includeFile("partials/google-analytics.html") %>
  </head>
  <body>
    <a class="visually-hidden visually-hidden-focusable" href="#content">
      <%= it.t.skip_to_main %>
    </a>
    <!-- prettier-ignore -->
    <%~ includeFile("partials/nav.html", {
          page: "home",
          t: it.t.nav,
          locale: it.locale,
          locales: it.locales,
        })
    %>

    <!--
      This layout is heavily inspired by the Bootstrap v5 docs homepage, which
      has the following license:

      The MIT License (MIT)

      Copyright (c) 2011-2020 Twitter, Inc.
      Copyright (c) 2011-2020 The Bootstrap Authors
    -->
    <main class="artichoke-masthead mb-3 mb-md-5" id="content">
      <div class="container px-4 px-md-3">
        <div class="row align-items-lg-center">
          <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
            <img
              class="mw-100 d-block mx-auto"
              title="Artichoke Ruby"
              alt="Artichoke Ruby."
              src="/artichoke-logo.svg"
            />
          </div>
          <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
            <h1 class="mb-3"><%= it.t.index.title %></h1>
            <% it.t.index.description.forEach(paragraph => { %>
            <p class="lead mb-4"><%= paragraph %></p>
            <% }) %>
            <div class="d-flex flex-column flex-md-row">
              <a
                class="btn btn-lg btn-dark mb-3 me-md-3"
                href="https://github.com/artichoke/artichoke/labels/E-easy"
                role="button"
              >
                <%= it.t.index.contribute %>
              </a>
              <a
                class="btn btn-lg btn-secondary mb-3"
                href="<%= it.locale.links.install %>"
                role="button"
              >
                <%= it.t.index.install.title %>
              </a>
            </div>
            <p class="text-muted mb-0">
              <%= it.t.index.current %> <strong>v0.1.0-pre.0</strong>
              <span class="px-1">&middot;</span>
              <a
                href="https://github.com/artichoke/artichoke/releases"
                class="link-secondary"
              >
                <%= it.t.index.previous_releases %>
              </a>
            </p>
          </div>
        </div>
      </div>
    </main>
    <div class="container masthead-followup px-4 px-md-3">
      <div class="row mb-5 pb-md-4 align-items-center">
        <div class="col-md-5">
          <div
            class="masthead-followup-icon d-inline-block mb-2 text-white bg-artichoke"
          >
            <img alt="Ruby." width="32" height="32" src="/logos/ruby.svg" />
          </div>
          <h2 class="display-5 font-weight-normal">
            <%= it.t.index.install.title %>
          </h2>
          <p class="lead font-weight-normal">
            <%= it.t.index.install.content %>
          </p>
          <p><%= it.t.index.install.hint %></p>
          <a
            class="btn btn-lg btn-secondary mb-3"
            href="<%= it.locale.links.install %>"
            role="button"
          >
            <%= it.t.index.install.guide %>
          </a>
        </div>
        <!-- prettier-ignore -->
        <div class="col-md-7 ps-md-5">
          <%~ it.includeMarkdown("rbenv-install.md") %>
          <%~ it.includeMarkdown("docker-run.md") %>
          <%~ it.includeMarkdown("cargo-install.md") %>
        </div>
      </div>

      <div class="row mb-5 pb-md-4 align-items-center">
        <div class="col-md-5">
          <div
            class="masthead-followup-icon d-inline-block mb-2 text-white bg-dark"
          >
            <img
              alt="Twitter."
              width="32"
              height="32"
              src="/social/twitter-logo-blue.svg"
            />
          </div>
          <h2 class="display-5 font-weight-normal">
            <%= it.t.index.subscribe.title %>
          </h2>
          <p class="lead font-weight-normal">
            <%= it.t.index.subscribe.content %>
            <a href="https://twitter.com/artichokeruby">@artichokeruby</a>.
          </p>
          <p><%= it.t.index.subscribe.hint %></p>
          <a
            href="https://twitter.com/artichokeruby?ref_src=twsrc%5Etfw"
            class="twitter-follow-button"
            data-size="large"
            data-lang="<%= it.locale.twitter %>"
            data-show-count="false"
          >
            Follow @artichokeruby
          </a>
        </div>
        <div class="col-md-7 ps-md-5">
          <a
            class="twitter-timeline"
            data-lang="<%= it.locale.twitter %>"
            data-height="500"
            href="https://twitter.com/artichokeruby?ref_src=twsrc%5Etfw"
          >
            Tweets by artichokeruby
          </a>
        </div>
      </div>
    </div>

    <%~ includeFile("partials/footer.html", { t: it.t.footer }) %>
    <script async src="https://platform.twitter.com/widgets.js"></script>
    <script async type="module" src="/main.bundle.js"></script>
  </body>
</html>
