<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Artichoke Ruby</title>

    <!-- opengraph metadata -->
    <meta property="og:title" content="Artichoke Ruby" />
    <meta property="og:site_name" content="artichokeruby.org" />
    <meta property="og:url" content="https://www.artichokeruby.org/" />
    <meta
      property="og:description"
      content="Artichoke Ruby is a Ruby made with Rust."
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://www.artichokeruby.org/artichoke-logo.png"
    />

    <%= require('html-loader!./partials/favicons.html') %> <%=
    require('html-loader!./partials/google-analytics.html') %>
  </head>
  <body>
    <%= require('html-loader!./partials/nav.html') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 my-auto">
          <img
            class="mw-100 d-block mx-auto"
            title="Artichoke Ruby"
            alt="Artichoke Ruby logo"
            src="<%= require('./artichoke-logo.svg').default %>"
          />
        </div>
        <div class="col-lg-9 col-md-6 my-auto py-2">
          <h1>Artichoke Ruby</h1>
          <p class="lead font-weight-normal">
            Artichoke is a Ruby made with Rust 💎🦀
          </p>
          <a
            class="btn btn-outline-secondary d-inline-block mx-1"
            href="https://artichoke.run/"
          >
            Try Online
          </a>
          <a
            class="btn btn-outline-secondary d-inline-block mx-1"
            href="/install"
          >
            Install
          </a>
          <a
            class="btn btn-outline-secondary d-inline-block mx-1"
            href="https://github.com/artichoke/artichoke/labels/E-easy"
          >
            Contribute
          </a>
        </div>

        <div class="col-md-6">
          <div class="d-flex flex-column h-100">
            <div class="bg-light p-2 p-md-5 h-50">
              <div>
                <h2 class="text-center">Ruby ❤️ WebAssembly</h2>
                <p class="lead text-center">Execute Ruby on the web.</p>
                <div class="row">
                  <div class="col-lg-3">
                    <img
                      width="80"
                      class="d-block mx-auto"
                      title="WebAssembly"
                      alt="WebAssembly logo"
                      src="<%= require('./webassembly-logo.svg').default %>"
                    />
                  </div>
                  <div class="col-lg-9">
                    <p>
                      Artichoke compiles to WebAssembly with Emscripten. We plan
                      to support compiling for wasm32-unknown-unknown targets.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-dark p-2 p-md-5 text-light h-50">
              <div>
                <h2 class="text-center">MRI-Compatible</h2>
                <p class="lead text-center">
                  Artichoke targets MRI Ruby 2.6.3.
                </p>
                <div class="row">
                  <div class="col-lg-3">
                    <img
                      width="80"
                      class="d-block mx-auto"
                      title="Ruby"
                      alt="Ruby logo"
                      src="<%= require('./ruby-logo.svg').default %>"
                    />
                  </div>
                  <div class="col-lg-9">
                    <p>
                      If Artichoke does not run Ruby source code in the same way
                      that MRI does, it is a bug. MRI compatibility means
                      <a
                        href="https://github.com/artichoke/artichoke/labels/CAPI-MRI"
                      >
                        supporting a C API</a
                      >, if possible.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="bg-dark h-100 p-1 p-md-3 text-center text-white">
            <a
              class="twitter-timeline"
              data-height="500px"
              data-theme="light"
              href="https://twitter.com/artichokeruby?ref_src=twsrc%5Etfw"
            >
              Tweets by artichokeruby
            </a>
            <script
              async
              src="https://platform.twitter.com/widgets.js"
              charset="utf-8"
            ></script>
          </div>
        </div>

        <div class="col-md-6">
          <div class="bg-light h-100 p-2 p-md-5">
            <h2 class="text-center">Run Untrusted Ruby 👾</h2>
            <p class="lead text-center">
              Disable sensitive APIs at compile time.
            </p>
            <div class="row">
              <div class="col-lg-3 display-3 my-auto mx-auto text-center">🎛</div>
              <div class="col-lg-9">
                <p class="text-left">
                  Replace the system environ with a stub, disable Regexp engines
                  susceptible to catastrophic backtracking, or skip packaging
                  parts of the standard library.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="bg-light h-100 p-2 p-md-5">
            <h2 class="text-center">💼 Single Binary Apps</h2>
            <p class="lead text-center">
              Distribute app bundles with ease.
            </p>
            <div class="row">
              <div class="col-lg-3 display-3 my-auto mx-auto text-center">🔩</div>
              <div class="col-lg-9">
                <p class="text-left">
                  Pack a Ruby VM, application source code, configuration, and
                  native extensions into
                  <a href="https://github.com/artichoke/jasper">
                    a single-file bundle</a
                  >. Easy distribution without requiring installation of a Ruby
                  VM.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= require('html-loader!./partials/footer.html') %>
  </body>
</html>
