<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Install Artichoke - Artichoke Ruby</title>

    <!-- opengraph metadata -->
    <meta property="og:title" content="Artichoke Ruby" />
    <meta property="og:site_name" content="artichokeruby.org" />
    <meta property="og:url" content="https://www.artichokeruby.org/install" />
    <meta
      property="og:description"
      content="Artichoke Ruby is a Ruby made with Rust."
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://www.artichokeruby.org/artichoke-logo.png"
    />

    <!-- highight.js -->
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css"
    />

    <%= require('html-loader!./partials/favicons.html') %> <%=
    require('html-loader!./partials/google-analytics.html') %>
  </head>
  <body>
    <%= require('html-loader!./partials/nav.html') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 my-auto">
          <img
            class="mw-100 d-block mx-auto"
            title="Artichoke Ruby"
            alt="Artichoke Ruby logo"
            src="<%= require('./artichoke-logo.svg').default %>"
          />
        </div>
        <div class="col-lg-9 col-md-6 my-auto py-2">
          <h1>Install Artichoke Ruby</h1>
          <h4>Using Cargo</h4>
          <pre
            class="hljs"
          ><code class="bash">cargo install --git https://github.com/artichoke/artichoke --locked artichoke</code></pre>
          <p>
            Artichoke requires the latest stable Rust, clang, ad bison to build.
            <a
              href="https://github.com/artichoke/artichoke/blob/master/BUILD.md"
            >
              Build setup instructions can be found on GitHub</a
            >.
          </p>
        </div>

        <div class="col-md-6">
          <div class="bg-dark text-white p-2 p-md-5 h-100">
            <h2 class="text-center">CLI</h2>
            <p class="lead text-center">
              Build applications with <code>artichoke</code>.
            </p>
            <div>
              <pre
                class="hljs console"
              ><code>$ artichoke -e "puts RUBY_DESCRIPTION"
artichoke 0.1.0 (2020-04-01 revision 2921) [x86_64-darwin]</code></pre>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="bg-light p-2 p-md-5 h-100">
            <h2 class="text-center">REPL</h2>
            <p class="lead text-center">Explore with <code>airb</code>.</p>
            <div class="mt-1 text-left">
              <pre class="hljs console"><code>$ airb
&gt;&gt;&gt; "Hello world!"
=&gt; "Hello world!"</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= require('html-loader!./partials/footer.html') %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
